.App {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    width: 650px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
}

form div {
    margin-bottom: 15px;
}

form input {
    display: block;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
}

form button {
    background: rgb(50, 227, 23);
    padding: 10px 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover {
    background: rgb(24, 124, 20);
}

.element-conatiner {
    box-shadow: rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
    width: 650px;
    border: 2px solid #111;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
}